body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  text-align: center;
}

.logo {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: flex-start;
}

footer {
  background-color: lightgoldenrodyellow;
}
